.immaginetop{
    width: 1500px;
    }

.testo1{
    text-align: center;
    background-color: rgba(211, 211, 211, 0.856);
    font-size: 150%;
    line-height: 3.0;
    letter-spacing: 2px;
    font-weight: bold;
}

